.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.2s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: black;
    transition: all 0.2s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }
  .menu-btn:hover {
    opacity: 0.5;
    transition: all 0.2s ease-out; }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  z-index: 2; }
  .menu.show {
    visibility: visible; }
  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: right;
    width: 30%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: rgba(223, 223, 223, 0.9);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.2s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu .nav-item {
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease-out; }
    .menu .nav-item.current > a {
      font-weight: 600; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: black;
    text-decoration: none;
    transition: all 0.2s ease-out;
    /*&:after {
            content: "";
            position: absolute;
            width: 0%;
            height: 3px;
            display: block;
            bottom: 15%;
            @include easeOut;
          }
          &:hover::after {
            width: 100%;
            height: 3px;
            background-color: black;
          }*/ }
    .menu .nav-link:hover {
      opacity: 0.5;
      transition: all 0.2s ease-out; }

* {
  box-sizing: border-box; }

body {
  background: #ececec;
  color: black;
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(236, 236, 236, 0.8); }

h1, h2, h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 5.5rem; }
  h1.sm-heading, h2.sm-heading, h3.sm-heading {
    margin-bottom: 2rem; }

a {
  color: black;
  text-decoration: none; }

header {
  z-index: 2;
  width: 100%; }
  header .logo img {
    position: absolute;
    padding: 2rem;
    width: 250px;
    height: auto; }

.text-secondary {
  color: black;
  font-weight: 600; }

p {
  font-size: 20px; }

main {
  padding: 4rem;
  min-height: calc(100vh - 150px); }
  main#home {
    overflow: hidden;
    text-align: center; }
    main#home h1 {
      margin-top: 20vh; }
    main#home button {
      margin: 4rem;
      font-family: 'Raleway', sans-serif;
      background-color: #ececec;
      border: 1px solid black;
      box-sizing: border-box;
      color: black;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      line-height: 40px;
      padding: 10px 50px;
      position: relative;
      text-align: center; }
      main#home button:hover {
        opacity: 0.5;
        transition: all 0.2s ease-out; }
  main#contact {
    overflow: hidden;
    text-align: center; }
    main#contact h3 {
      margin-top: 30vh; }
    main#contact .email-link {
      padding: 1rem; }
      main#contact .email-link:hover {
        opacity: 0.5;
        transition: all 0.2s ease-out; }

.about-info {
  display: grid;
  grid-template-areas: 'bioimage bio';
  grid-template-columns: 1fr;
  grid-gap: 8rem;
  padding: 10rem; }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    object-fit: cover;
    width: 350px;
    height: auto;
    align-items: center;
    justify-content: center; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center; }

.projects {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.7rem; }
  .projects img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    .projects img:hover {
      opacity: 0.5;
      transition: all 0.2s ease-out; }

.project-info {
  display: grid;
  grid-template-areas: 'projectimage projectdesc';
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  padding-top: 4rem; }
  .project-info .project-image {
    grid-area: projectimage;
    object-fit: cover;
    width: 50vw;
    height: auto;
    align-items: center;
    justify-content: center; }
  .project-info .project-desc {
    grid-area: projectdesc;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center; }

#main-footer {
  text-align: center;
  padding: 1rem;
  color: black;
  height: 150px; }
  #main-footer .icons {
    margin-top: 1rem; }
    #main-footer .icons a {
      padding: 0.5rem;
      font-size: 10px; }
      #main-footer .icons a:hover {
        opacity: 0.5;
        transition: all 0.2s ease-out; }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center; }
    .projects img {
      width: 90vw;
      height: auto; }
  .about-info {
    grid-template-areas: 'bioimage' 'bio';
    grid-template-columns: 1fr;
    padding: 0;
    padding-top: 10rem;
    grid-gap: 5rem;
    text-align: center; }
  .project-info {
    grid-template-areas: 'projectimage' 'projectdesc';
    grid-template-columns: 1fr;
    padding: 0;
    padding-top: 10rem;
    grid-gap: 5rem;
    align-items: center;
    justify-content: center; }
    .project-info .project-image {
      grid-area: projectimage;
      object-fit: cover;
      width: 90vw;
      height: auto;
      align-items: center;
      justify-content: center; }
    .project-info .project-desc {
      grid-area: projectdesc;
      font-size: 1.5rem;
      align-items: center;
      justify-content: center;
      text-align: center; } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show, div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 100vh;
    transform: translate3d(0, -100%, 0);
    background: rgba(236, 236, 236, 0.9); }
  .about-info {
    grid-template-areas: 'bioimage' 'bio';
    grid-template-columns: 1fr;
    padding: 0;
    padding-top: 10rem;
    grid-gap: 5rem; }
  .projects {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center; }
    .projects img {
      width: 90vw;
      height: auto; }
  .project-info {
    grid-template-areas: 'projectimage' 'projectdesc';
    grid-template-columns: 1fr;
    padding: 0;
    padding-top: 10rem;
    grid-gap: 5rem;
    align-items: center;
    justify-content: center; }
    .project-info .project-image {
      grid-area: projectimage;
      object-fit: cover;
      width: 90vw;
      height: auto;
      align-items: center;
      justify-content: center; }
    .project-info .project-desc {
      grid-area: projectdesc;
      font-size: 1.5rem;
      align-items: center;
      justify-content: center; } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 20vh;
    font-size: 15vw; }
  .projects {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center; }
    .projects img {
      width: 90vw;
      height: auto; }
  .project-info {
    grid-template-areas: 'projectimage' 'projectdesc';
    grid-template-columns: 1fr;
    padding: 0;
    padding-top: 10rem;
    grid-gap: 5rem;
    align-items: center;
    justify-content: center; }
    .project-info .project-image {
      grid-area: projectimage;
      object-fit: cover;
      width: 90vw;
      height: auto;
      align-items: center;
      justify-content: center; }
    .project-info .project-desc {
      grid-area: projectdesc;
      font-size: 1.5rem;
      align-items: center;
      justify-content: center; }
  .about-info {
    grid-template-areas: 'bioimage' 'bio';
    grid-template-columns: 1fr;
    padding: 0;
    padding-top: 10rem;
    grid-gap: 5rem; }
    .about-info .bio-image {
      grid-area: bioimage;
      margin: auto;
      object-fit: cover;
      width: 55vw;
      height: auto;
      align-items: center;
      justify-content: center; } }
