@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

// headings
h1,h2,h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading{
        font-size: 6rem;
    }

    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
    }
}

a {
    color: black;
    text-decoration: none;
}

header {
    z-index: 2;
    width: 100%;
    
    //https://stackoverflow.com/questions/11701311/logo-image-and-h1-heading-on-the-same-line checked how to add logo
    .logo img {
        position:absolute;
        padding:2rem;
        width:250px;
        height:auto;

    }
}

.text-secondary {
    color: $secondary-color;

}

main {
    padding: 4rem;
    min-height: calc(100vh - 150px);

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }

}

.about-info {
    display: grid;
    grid-template-areas:
    'bioimage bio';
    grid-template-columns: 1fr;
    grid-gap: 8rem;
    padding:10rem;

    .bio-image{
        grid-area: bioimage;
        margin: auto;
        object-fit: cover;
        width: 400px;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
        align-items: center;
        justify-content: center;
    }
}

//Work/projects
.projects {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0.7rem;

    img{
        width: 100%;

        &:hover {
            opacity: 0.5;
            @include easeOut;
        }
    }
}


#main-footer {
    text-align: center;
    padding: 1rem;
    color: set-text-color($primary-color);
    height: 150px;

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.5rem;
            font-size: 10px;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }
}

@import 'mobile';
